td {
    border: 1px solid black;
    padding: 5px;
}
table {
    border-collapse: collapse;
    border: 3px solid black;
    width: 100%;
}
.female {
    background-color: pink;
    border-bottom: 3px solid black;
}
.male {
    background-color: lightblue;
    border-bottom: 3px solid black;
}
.property {
    width: 200px;
}
.color {
    width:50px;
}
