html,
body {
    height: 100%;
}

body {
    padding-top: 55px;
}

header {
    background: transparent;
    background: linear-gradient(0deg, rgba(34, 193, 195, 0) 0%, rgba(253, 187, 45, 1) 100%);
}

#page-content {
    flex: 1 0 auto;
}

footer {
    background: transparent;
    background: linear-gradient(180deg, rgba(34, 193, 195, 0) 0%, rgba(253, 187, 45, 1) 100%);
}

.female {
    background: transparent;
    background: linear-gradient(270deg, transparent, pink 100%);
}

.male {
    background: transparent;
    background: linear-gradient(270deg, transparent, lightblue 100%);
}

.property {
    width: 200px;
    font-weight: bold;
    background-color: #efefef;
}

.color {
    width: 40px;
}

.color-display {
    width: 25px;
    border-radius: 50%;
    height: 25px;
    border: 1px solid black;
}

.highlight {
    background-color: lightyellow !important;
}