<div class="alert alert-primary mb-5" role="alert">
    <p>The characters listed are not actual people and purely fictional, but you might meet human beeings alike.</p>
    <p>Listen to your stereo, don't put them in the microwave!</p>
    <p>Hint: The full body pictures are just scratching the surface and are rather schematic.</p>
</div>
<include href="{{ 'partial/human.html' }}" if="{{ file_exists(@UI.'partial/human.html') }}" />
<a class="btn btn-lg btn-primary mt-5" href="/search">Search others!</a>